- if current_user.admin
  %strong Admin:
  = link_to "Link-1", '#'
  |
  = link_to "Linl-2", '#'
  |
  = link_to "Link-3", '#'
  |
  - if current_user.admin
    = link_to "Users", '/users'
    |
%strong
  = current_user.login
  (#{current_user.id})
\-
= current_user.name
= link_to "Update Profile", "/users/edit/#{current_user.id}"
%p
  The name of current tab is #{current_tab}.

